 
    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <nav class="navbar-top" role="navigation">

            <!-- begin BRAND HEADING -->
            
            <!-- end BRAND HEADING -->

            <div class="nav-top">

           <div class="text-left" style="padding-top:10px; width:800px; float:left;">
		 <!--	<img height="22" border="0" name="logo" src="./img/canteen.png"> -->
            <span style="font-weight:bold; font-size:18px; vertical-align:middle; color:#FFF">Channabasavashwara Institude of Technology</span>
           	</div>
 <!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
                <ul class="nav navbar-right" style="float:right">
                    <!-- end ALERTS DROPDOWN -->

                    <!-- begin USER ACTIONS DROPDOWN -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a href="profile.php">
                                    <i class="fa fa-user"></i> My Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="logout_open" href="logout.php">
                                    <i class="fa fa-sign-out"></i> Logout
                                    <strong>Admin</strong>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <!-- end USER ACTIONS DROPDOWN -->

                </ul>
                
                 <div class="text-right" style="padding-top:15px; width:400px; float:right;">
		   	<span style="font-size:12px; vertical-align:middle; color:#FFF">
            Logged in as Admin</strong></span>
            <span style="font-size:12px; color:#999">| </span>
            <span style="font-size:12px; vertical-align:middle; color:#FFF" id="header-time">   
           <?php echo $date = date("d F Y  h:i:s A"); ?>
            </span> 
            <span style="font-size:12px; color:#999">| </span>   
            
            </div>
                <!-- /.nav -->
                <!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

            </div>
            <!-- /.nav-top -->
        </nav>
<div id="page-wrapper" class="collapsed">
	<div class="page-content">

		<!-- begin PAGE TITLE AREA -->
		<!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
			
        
        
        <nav class="navbar navbar-default navbar-fixed-top"  style="margin-top:50px">
      <div class="container" style="width:1270px;">
        <div class="navbar-header navbar-brand">
        Computer Science & Engineering
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#/">Home</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">College profile<span class="caret"></span></a>
            </li>
            <li><a href="#">Colg.Department</a></li>
            <li><a href="#">Princpal</a></li>
             <li><a href="#">Dept Head</a></li>
          </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
	   <!--main_heading_div-->
		<!--middle_content_details_data-->
		<div class="row" style="padding-top:90px;"  ng-view>
         			
		</div>
        <!--end_middle_content_details_data-->
	</div>
	<!-- /.page-content -->

</div>
</div>