<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="padding:0px;">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add/Update Subject Type</h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Subject Type:</span>
                                 <input type="text" name="shortname" id="resourcesub" class="form-control" placeholder="Add Your Subject Type " ng-model="subject" ng-keypress="clearField('resourcesub');" >
								</div>
                                 </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">No of Classes:</span>
                                <select class="form-control"  id="resourceperiod" ng-model="period"  ng-change="removeBorder('resourceperiod',subject);" >
                                <option value="">Select Class</option>
                                 <option value="1">1</option>
                                 <option value="2">2</option>
                                 <option value="3">3</option>
								 </select>
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addClassData();"  id="addProfileData" ng-value="buttonName"/>
                            <input type="button" class="btn btn-red" ng-click="cancelClassData();"  id="cancelProfileData" ng-value="cancelbuttonName" ng-show="showCancel"/>
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

<div class="clearfix"></div>

<div class="col-lg-12" style="padding:0px;">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-list fa-fw"></i>List of Subject Type </h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-4 col-sm-4">
									         <col class="col-md-3 col-sm-3">
                                             <col class="col-md-2 col-sm-3">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Subject Type</th>
                                                    <th>Class</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="cor in classData">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{cor.type}}</td>
                                                    <td>{{cor.period}}</td>
                                         			<td>
													<!--<a ui-sref='dashboard.profile({p_i:profile.profile_id})'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="reload();">  
													</a>-->
                                                    <a ui-sref='principal.resourse.class'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editSubjectData(cor.id);">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref='principal.resourse.class'>
													<input type='button' class='btn btn-xs btn-red' value='Remove' ng-click="deleteSubjectData(cor.id);" >  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>