<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-4 col-sm-4">

                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>
                                                     <select style="width:100%; border:none; font-weight:bold;" ng-options="sem.name for sem in noDept track by sem.value" ng-model="deptSearch">
                                                    <option value="">Dept Name</option>
                                                    </select>
                                                    </th>
                                                    <th>Course Name</th>
                                                    <th>Short Name</th>
                                                    <th>No of Semester</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="course in listOfCourse| filter:deptSearch.value"  >
                                                    <td>{{$index+1}}</td>
                                                    <td>{{course.dept_name}}</td>
                                                    <td>{{course.course_name}}</td>
                                                    <td>{{course.short_name}}</td>
                                         			<td>{{course.semester}}</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>