<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="padding:0px;">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add & Update Class Day</h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                               <!--  <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colg_name" ng-options="colg.name for colg in listOfCollege track by colg.value " ng-change="removeBorder('colg_name',colg_name);" ng-readonly="colgread" ng-disabled="colgdis">
		                    	 </select>
								</div> -->
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Lecture Days per Week</span>
                                 <select class="form-control"  id="day" ng-model="day"  ng-change="removeBorder('day');" ng-readonly="dayread" ng-disabled="days" >
                                 <option value="">Select no of Days</option>
                                 <option value="4">4 days per week</option>
                                 <option value="5">5 days per week</option>
                                 <option value="6">6 days per week</option>
                                 <option value="7">7 days per week</option>
								 </select>
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">First  Day</span>
                                <select class="form-control" id="firstday" ng-model="firstday"  ng-change="removeBorder('firstday');" ng-readonly="dayread" ng-disabled="days" >
                                 <option value="">Select first day of week</option>
                                 <option value="Sunday">Sunday</option>
                                 <option value="Monday">Monday</option>
                           	   </select>
								</div>
                                
                                </div>
                                
                                
                                 </div>
                                
                                
                                <div class="col-md-6">
                               
                                
                              
                               <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Classes per Day</span>
                                <select class="form-control"  id="period" ng-model="period"  ng-change="removeBorder('period');" ng-readonly="dayread" ng-disabled="days" >
                                 <option value="">Select no of classes per day</option>
                                 <option value="5">5 Classes</option>
                                 <option value="6">6 Classes</option>
                                 <option value="7">7 Classes</option>
                                 <option value="8">8 Classes</option>
                                 <option value="9">9 Classes</option>
                                 <option value="10">10 Classes</option>
                                 <option value="11">11 Classes</option>
                                 <option value="12">12 Classes</option>
                           	   </select>
								</div>
                                
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addSessionData();"  id="addProfileData" ng-value="buttonName"/>
                             <input type="button" class="btn btn-red" ng-click="cancelSessionData();"  id="cancelProfileData" ng-value="cancelbuttonName" ng-show="showCancel" />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    </div>
					</form>
                    		</div>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

<div class="clearfix"></div>

<div class="col-lg-12" style="padding:0px;">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-list fa-fw"></i>List of Class Day </h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                            	
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-5 col-sm-5">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Lecture Days per Week</th>
                                                    <th>First Day</th>
                                                    <th>Classes per Day</th>
                                                    <th>Edit</th>
                                                 
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="ses in venueData">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{ses.days}}</td>
                                                    <td>{{ses.firstday}}</td>
                                                    <td>{{ses.periods}}</td>
                                         			<td>
										            <a ui-sref='principal.resourse.day'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editData(ses.day_id);">  
													</a>
													</td>
                                                    
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>
