<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add/Update Department </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate >
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                              
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Stream Name :</span>
                                 <select class="form-control"  id="stream_name" ng-model="stream_name" ng-options="strm.name for strm in listOfStream track by strm.value " ng-change="clearField('stream_name');"  ng-disabled="stream_readonly" >
		                    	 </select>
								</div> 
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Department Name :</span>
                                <input type="text" name="colgmname" id="deptname" class="form-control" placeholder="Add Department name" ng-model="deptname" ng-keypress="clearField('deptname');" >
								</div> 
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Department Code :</span>
								<input type="text" class="form-control" placeholder="Add Department code" ng-model="dept_short_name" ng-keyup="updateField('deptshname');"  ng-keypress="clearField('deptshname');" autocomplete="off" >
								</div>
                                
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">User Name :</span>
                                <input type="text" ng-disabled="uname_readonly" class="form-control" ng-model="dept_login_name"  id="deptlogname" ng-keypress="clearField('deptlogname');"  >
								</div>
                                 <input type="button" class="btn btn-green" ng-click="resetPasswod();"  value="Click here to reset Password" ng-show="hidebtn"  />
                                <div class="input-group bmargindiv1 col-md-12" ng-hide="showpass">
                                <span style="position:absolute; right:5px; margin-top:6px;top:0px;"><button class="btn btn-xs btn-success"ng-mousedown="hideShowPassword();" ng-mouseup="hideShowPassword();" ng-mouseleave="hidePassAfterLeave();" ><i class="fa fa-eye"></i></button></span>
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Password :</span>
                                <div ng-class="{ 'myError': billdata.pass.$touched && billdata.pass.$invalid }">
                                <input type="{{inputType}}" name="pass" id="deptpass" class="form-control" placeholder="password" ng-model="password" ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[_!@#\$%\^&\*])(?=.{8,})/" ng-keypress="clearField('deptpass');" autocomplete="off" >
                                </div>
								</div>
                                <div class="col-md-12 text-right" style="padding-right:0px;" ng-show="rejectpass" ng-click="closePass();"><button type="button" class="btn btn-danger btn-sm">Reject Password</button></div>
                                <div class="help-block" ng-messages="billdata.pass.$error" ng-if="billdata.pass.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your password should be 8.</p>
                                <p ng-message="pattern" style="color:#F00;">This field needs the special character like at least one number,upper case,lower case letter, and _,@,#,&,%.</p>
                                </div>
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Retype Password :</span>
                                <input type="password" name="itemname" id="contactno" class="form-control" placeholder="Retype password" ng-model="Repass" >
								</div>-->
                                </div>
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addDepartmentData(billdata);"  id="addProfileData" ng-value="buttonName"  />
                            <input type="button" class="btn btn-danger" ng-click="clearSubjectData();" ng-value="clearButtonName" ng-show="showCancel"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

<div class="clearfix"></div>

<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											 <div class="portlet-heading">
		<div class="portlet-title" id="SHOWINFO">
		<h4><i class="fa fa-list fa-fw"></i>  List of Department </h4>
		</div>
		<div class="clearfix"></div>
		</div>
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
									         <col class="col-md-4 col-sm-4">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Department Name</th>
                                                    <th>Stream Name</th>
                                                    <th>Dept. Code</th>
                                                    <th>User Name</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="dept in deptData | filter:{colg_name:colgSearch.name,dept_name:deptSearch.name}:true | orderBy:'dept_name' ">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{dept.dept_name}}</td>
                                                    <td>{{dept.stream_name}}</td>
													<td>{{dept.short_name}}</td>
													<td>{{dept.login_name}}</td>
                                         			<td>
													<a ui-sref='principal.dept.department'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="getDeptData(dept.dept_id);">  
													</a>
													</td>
                                                    <td>
													<a ui-sref='principal.dept.department'>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteDeptData(dept.dept_id);">  
													</a>
													</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>