	<div style="margin:0px 20px;">  
	<uib-tabset>
    <uib-tab ui-sref="principal.dept.stream" active="principalDepttabs[1]">
      <uib-tab-heading> Stream</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="principal.dept.department" active="principalDepttabs[2]">
      <uib-tab-heading> Department</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="principal.dept.course" active="principalDepttabs[3]">
      <uib-tab-heading> Course</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="principal.dept.subject" active="principalDepttabs[4]">
      <uib-tab-heading> Subject</uib-tab-heading>
    </uib-tab>
    </uib-tabset>
  <div ui-view></div>
</div>