<div class="col-md-12">
<div class="row">
					<div class="col-lg-12" style="padding:0px;">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add & Update Lecture Plan</h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Lecture Plan</span>
                                <input type="text" name="colgmname" id="resourcelectplan" class="form-control" placeholder="e.g.LP-1" ng-model="lect_plan" ng-keypress="clearField('resourcelectplan');" >
								</div>
                                 </div>
                                
                                
                                <div class="col-md-6">
                                
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addLecturePlanData();"  id="addProfileData" ng-value="buttonName"/>
                            <input type="button" class="btn btn-red" ng-click="cancelLecturePlanData();"  id="addProfileData" ng-value="cancelbuttonName" ng-show="showCancel"/>
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>





<div class="col-lg-12" style="padding:0px;">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-list fa-fw"></i>List of Lecture Plan </h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                        
                                        	
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-5 col-sm-5">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-2 col-sm-3">
                                             <col class="col-md-2 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Lecture Plan</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="sec in lecturePlanData">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{sec.plan_name}}</td>
                                         			<td>
													<!--<a ui-sref='dashboard.profile({p_i:profile.profile_id})'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="reload();">  
													</a>-->
                                                    <a ui-sref='principal.resourse.lecturePlan'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editLecturePlanData(sec.lp_id);">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref='principal.resourse.lecturePlan'>
													<input type='button' class='btn btn-xs btn-red' value='Remove' ng-click="deleteLecturePlanData(sec.lp_id);" >  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>