<div>
 <uib-tabset>
 <uib-tab ui-sref="principal.myplanManagement.myTimeTable" active="myPlanManagementPrincipaltabs[1]">
      <uib-tab-heading>My TimeTable</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="principal.myplanManagement.myPlan" active="myPlanManagementPrincipaltabs[2]">
      <uib-tab-heading>My Plan</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="principal.myplanManagement.myWDS" active="myPlanManagementPrincipaltabs[3]">
      <uib-tab-heading>My WDS</uib-tab-heading>
    </uib-tab>
    </uib-tabset>
  <div ui-view></div>
</div>