<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add Plan </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                               
                                
                    			
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Stream :</span>
                                 <select class="form-control"  id="stream_name" ng-model="stream_name" ng-options="strm.name for strm in listOfStream track by strm.value " ng-change="GetDeptData('stream_name');" ng-readonly="readstrm" ng-disabled="strmdis">
		                    	 </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Department :</span>
                                 <select class="form-control"  id="dept_name" ng-model="dept_name" ng-options="dept.name for dept in listOfdept track by dept.value" ng-readonly="readdept" ng-change="selectFaculty('dept_name');" ng-disabled="deptdis">
		                    	 </select>
								</div> 
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Course Name:</span>
								 <select class="form-control" ng-disabled="user_readonly" id="course_name" ng-model="course_name" ng-options="course.name for course in listOfCourse track by course.value " ng-change="selectedCourse('course_name');" >
								 </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Semester :</span>
								 <select id="semester" ng-disabled="user_readonly" class="form-control" ng-model="semester" ng-options="result.name for result in noSemesters track by result.value "  ng-change="selectedSemester('semester');">
								 <option value="">Select Semester</option>
								 </select>
								</div>
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Subject Name :</span>
                                <select id="subject_name"  ng-disabled="user_readonly" class="form-control" ng-model="subject_name" ng-options="sub.name for sub in listOfSubject track by sub.value " ng-change="clearField('subject_name');" >
								 </select>
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Select Faculty :</span>
								 <select  class="form-control" id="faculty_name" ng-model="faculty_name" ng-options="faculty.name for faculty in listFaculty track by faculty.value" ng-readonly="userread" ng-disabled="userdis" ng-change="clearField('faculty_name');">	
								 </select>
								</div>
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Section:</span>
								  <select id="section" ng-disabled="user_readonly" class="form-control" ng-model="section" ng-options="sec.name for sec in listOfSection track by sec.value "  ng-change="clearField('section');" >
								 </select>
								</div>
                               
                                
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Academic Year :</span>
								 <select class="form-control" ng-disabled="user_readonly" id="session_name" ng-model="session_name" ng-options="result.name for result in listSession track by result.value "  ng-change="checkTableData('session_name');">
		                    	 </select>
								</div>
                                
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Select Unit :</span>
                                <select class="form-control" ng-disabled="user_readonly" id="unit_name" ng-model="unit_name" ng-options="sec.name for sec in listUnitData track by sec.value " ng-change="clearField('unit_name');" > </select>
                                </div> 
                                
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Date :</span>
                                <div class="datepicker" date-format="dd-MM-y" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'> 
                                <input type="text" name="birthdate" class="form-control" id="date" ng-model="date" placeholder="Add date" ng-change="clearField('date');" />
                                </div>
								</div> 
                                
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Lecture Plan:</span>
								<select class="form-control" id="plan" ng-model="plan" ng-options="sec.name for sec in listPlanData track by sec.value " ng-change="clearField('plan');" > </select>
								</div>
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Topic :</span>
                               <textarea  class="form-control" maxlength="225" rows="2"  style="margin: 0px -0.5px 0px 0px; height: 78px;" ng-model="topic" id="topic" ng-keypress="clearField('topic');"></textarea>
								</div> 
                                
                               
                               
                               
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addPlanData();" ng-value="buttonName" id="addsubjectData"  />
                            <input type="button" class="btn btn-danger" ng-click="clearPlanData();" ng-value="clearButtonName" ng-show="showCancel"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

<div class="clearfix"></div> 

<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											 <div class="portlet-heading">
		<div class="portlet-title" id="SHOWINFO">
		<h4><i class="fa fa-list fa-fw"></i> List of Faculty Plan </h4>
		</div>
		<div class="clearfix"></div>
		</div>
                                    <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table" id = "unit_list" style="display:block">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-four col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-two col-sm-2">
                                             <col class="col-md-two col-sm-2">
                                             <col class="col-md-four col-sm-2">
                                             <col class="col-md-two col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Department Name</th>
                                                    <th>User Name</th>
													<th>
                                                    Session
                                                    </th>
                                                    <th>
                                                    Course Code
                                                    </th>
                                                    <th>
                                                    Semester
                                                    </th>
                                                    <th>
                                                    Subject
                                                    </th>
                                                    <th>
                                                    Section
                                                    </th>
                                                    <th>
                                                    Unit Name
                                                    </th>
                                                    <th>Total Plan</th>
                                                    <th>View</th>
                                         		</tr>
											</thead>
                                           
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="plan in viewUnitData | filter:{session: sessionSearch.name,short_name:courseSearch.name,semester:semesterSearch.name,subject_name:subjectSearch.name,section_name:searchSection.name,unit_name:searchUnit.name} :true | orderBy:'user_name'">
													<td>{{$index+1}}</td>
                                                    <td>{{plan.dept_name}}</td>
                                                    <td>{{plan.user_name}}</td>
                                                    <td>{{plan.session}}</td>
                                                    <td>{{plan.short_name}}</td>
                                                    <td >{{plan.semester}}</td>
                                                    <td >{{plan.subject_name}}</td>
                                                    <td >{{plan.section_name}}</td>
                                                    <td >{{plan.unit_name}}</td>
                                                    <td >{{plan.plan_no}}</td>
                                                    <td>
													<a >
													<input type='button' class='btn btn-xs btn-green' value='View' ng-click="showPlanData(plan.unit_plan_id);">  
													</a>
													</td>
                                            		</tr>	
											</tbody>
                                           
										</table>
								</div>
                                
                                
                                <div class="table-responsive dashboard-demo-table" id = "plan_list" style="display:none">
                                   
                			<div style="text-align:center; padding-top:10px; padding-bottom:10px;">
                            <input type="button" class="btn btn-success" ng-click="showUnitData();" value="Back"  />
                  			</div>  
                           <div class="clearfix"></div>       
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
													<th>Date</th>
                                                    <th>Unit_Name</th>
                                                    <th>Lecture Plan</th>
                                                    <th>Topic</th>
                                                    <th>Status</th>
                                                    <th>Completed Date</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                         		</tr>
											</thead>
                                           <tbody id="detailsstockid">
                                               		<tr ng-repeat="plan in viewPlanData">
													<td>{{$index+1}}</td>
                                                    <td>{{plan.date}}</td>
                                                    <td>{{plan.unit_name}}</td>
                                                    <td >{{plan.plan}}</td>
                                                    <td >{{plan.topic}}</td>
                                                    <td ng-if="plan.status==1">Completed</td>
                                                    <td ng-if="plan.status==0">Not Completed</td>
                                                    <td >{{plan.completed_date}}</td>
                                                    <td ng-if="plan.status==0" >
													<a>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editPlanData(plan.plan_id,plan.unit_plan_id);">  
													</a>
                                                    </td>
                                                    <td ng-if="plan.status==1">-</td>
                                                    <td ng-if="plan.status==0">
													<a>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deletePlanData(plan.plan_id,plan.unit_plan_id);">  
													</a>
													</td>
                                                    <td ng-if="plan.status==1">-</td>
                                            		</tr>	
											</tbody>
											
                                           
										</table>
								</div>
                                
                                
                                
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>
                                
     
     
     
                                 
      <div class="modal" id="addunit" tabindex="-1"  style="display:none" >
      <div class="modal-dialog" style="width:40%; margin-top:150px;">
        <div class="modal-content">
          <div class="modal-header" style="padding:5px; padding-left:20px;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick="closeEditNameDialog();">&times;</button>
          <h3 class="modal-title" id="myModalLabel" style="font-size:18px">Add Unit Name</h3>
          </div>
          <div class="modal-body" style="padding-bottom:0px;">
	      <div class="input-group bmargindiv1 col-md-12">
	      <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Unit Name:</span>
		  <input type="text" class="form-control" id="new_unit_name" ng-model="new_unit_name" ng-value=""   >
          </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-bg btn-green outlinedivnone"  ng-click="addNewUnitName()" >Add</button>
          <button type="button" class="btn btn-default btn-green" ng-click="closeUnitDialog()"><i class="fa fa-times"></i>CLOSE</button>
          </div>
        </div>
      </div>
    </div>                           
                                
                                