<div>
<tabset>
    <tab ui-sref=".plan" ui-sref-active="active">
      <tab-heading>Plan</tab-heading>
    </tab>
    <tab ui-sref=".wds" ui-sref-active="active">
      <tab-heading>WDS</tab-heading>
    </tab>
  </tabset>
  <div ui-view></div>
</div>