<div>
     <uib-tabset>
    <uib-tab ui-sref="principal.plan.timetable" active="principalPlanTabs[1]">
      <uib-tab-heading>Consolidated Time table</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="principal.plan.facultytimetable" active="principalPlanTabs[2]">
      <uib-tab-heading>Faculty Time table</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="principal.plan.facultyplan" active="principalPlanTabs[3]">
      <uib-tab-heading>Faculty Plan</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="principal.plan.facultywds" active="principalPlanTabs[4]">
      <uib-tab-heading>Faculty WDS</uib-tab-heading>
    </uib-tab>
  </uib-tabset>
  <div ui-view></div>
</div>