<div id="loading_data" style="display:none;">
<img src="img/loading.gif" border="0" name="GoPasto" style="float:left; width:50px; height:auto; padding:10px;">
<span style="float:left; padding-left:10px;">Please wait...</span>
<div class="clear"></div>
</div> 


    <div id="wrapper">

        <!-- begin TOP NAVIGATION -->
        <nav class="navbar-top" role="navigation">

            <!-- begin BRAND HEADING -->
            
            <!-- end BRAND HEADING -->

            <div class="nav-top">

           <div class="text-left" style="padding-top:10px; float:left;">
		 <!--	<img height="22" border="0" name="logo" src="./img/canteen.png"> -->
            <span style="font-weight:bold; font-size:18px; vertical-align:middle; color:#FFF">{{collegeName}}</span>
           	</div>
            
                <!-- begin MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->
                <ul class="nav navbar-right" style="float:right">
                    <!-- end ALERTS DROPDOWN -->

                    <!-- begin USER ACTIONS DROPDOWN -->
                    <li class="dropdown">
                        <a href="" class="dropdown-toggle" data-toggle="dropdown">
                            <i class="fa fa-user"></i>  <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li>
                                <a ui-sref=".profile">
                                    <i class="fa fa-user"></i> My Profile
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <a class="logout_open"  ui-sref="/" ng-click="logout();">
                                    <i class="fa fa-sign-out"></i> Logout
                                    <strong>{{userTypeName}}</strong>
                                </a>
                            </li>
                        </ul>
                        <!-- /.dropdown-menu -->
                    </li>
                    <!-- /.dropdown -->
                    <!-- end USER ACTIONS DROPDOWN -->

                </ul>
                
                 <div class="text-right" style="padding-top:15px; float:right;">
		   	<span style="font-size:12px; vertical-align:middle; color:#FFF">
            Logged in as {{userTypeName}} </strong></span>
            <span style="font-size:12px; color:#999">| </span>
            <span style="font-size:12px; vertical-align:middle; color:#FFF" id="header-time">   
            </span> 
            <span style="font-size:12px; color:#999">| </span>   
            
            </div>
                <!-- /.nav -->
                <!-- end MESSAGES/ALERTS/TASKS/USER ACTIONS DROPDOWNS -->

            </div>
            <!-- /.nav-top -->
        </nav>
<div id="page-wrapper" class="collapsed">
	<div>

		<!-- begin PAGE TITLE AREA -->
		<!-- Use this section for each page's title and breadcrumb layout. In this example a date range picker is included within the breadcrumb. -->
			
        
        
        <nav class="navbar navbar-default navbar-fixed-top"  style="margin-top:50px;z-index:111!important;">
      <div class="container" style="width:1270px;">
        <div class="navbar-header navbar-brand">
        {{ownName}}
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ui-sref-active="active"><a ui-sref="principal">Home</a></li>
            <li  ng-class="{'active open': $state.includes('principal.resourse')}">
              <a ui-sref="principal.resourse.userrole" >Resource Management</a>
            </li>
	        <li  ng-class="{'active open': $state.includes('principal.dept')}">
            <a ui-sref="principal.dept.stream"  role="button" aria-haspopup="true" aria-expanded="false">Department Management </a>
            </li>
			<li  ng-class="{'active open': $state.includes('principal.user')}">
              <a ui-sref="principal.user.usermanagement">User Management</span></a>
            </li>
            <li   ng-class="{'active open': $state.includes('principal.plan')}">
              <a ui-sref="principal.plan.timetable">Plan Management</span></a>
            </li>
           <li   ng-class="{'active open': $state.includes('principal.myplanManagement')}">
              <a ui-sref="principal.myplanManagement.myTimeTable">My Plan</span></a>
            </li>
            
          </ul>
          </div><!--/.nav-collapse -->
      </div>
    </nav>
	   
 
	   <!--main_heading_div-->
		<!--middle_content_details_data-->
		<div class="row" style="padding-top:120px;"  ui-view>
         
         
         <div style="margin:auto; float:none; text-align:center; font-size:24px; padding: 30px 30px;">
         Welcome to {{collegeName}}
         </div>
        <div class="col-lg-7" style="margin:auto; float:none">
		<div class="portlet portlet-blue" style="margin-bottom:12px;">
        
         <div class="portlet-heading">
		<div class="portlet-title" id="SHOWINFO">
		<h4><i class="fa fa-list fa-fw"></i>   Information </h4>
		</div>
		<div class="clearfix"></div>
		</div>
        
        <div class="portlet-body">
		<div class="table-responsive dashboard-demo-table">
		<table class="table table-bordered table-striped table-hover" id="dataTable" >
		<colgroup>
        <col class="col-md-8 col-sm-8">
        <col class="col-md-2 col-sm-2">
        </colgroup>
        <tbody id="detailsstockid">
        <tr> <td >Total number of Streams </td> <td >{{no_of_stream}}</td> </tr>
        <tr> <td >Total number of Departments </td> <td >{{no_of_department}}</td> </tr>
        <tr> <td >Total number of Courses </td> <td >{{no_of_course}}</td> </tr>
        <tr> <td >Total number of Users </td> <td >{{no_of_users}}</td> </tr>
        </tbody>
		</table>
		</div>
		</div>
        </div>
		</div>
         
         
         			
		</div>
        <!--end_middle_content_details_data-->
	</div>
	<!-- /.page-content -->

</div>
</div>