<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i>Add/Update User Role </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px"> Name :</span>
                                <select class="form-control" ng-model="user_name"  ng-options="user.name for user in listOfName track by user.value" id="user_name" ng-change="clearBorder('user_name',user_name);" ng-readonly="userread" ng-disabled="userdis" tabindex="1" >
                                 <!--<option value="">Select course</option>-->
								 </select>
								</div> 
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">User Role :</span>
								 <select class="form-control" ng-model="user_role" ng-change="getUserRole();"  ng-options="role.name for role in listOfRole track by role.value" id="userrole" tabindex="2" >
								 </select>
								</div>
                              
                                </div>
                                
                                
                                <div class="col-md-6">
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Login Name :</span>
								<input type="text" name="itemname" id="contactno" class="form-control" placeholder="add Login Name" ng-model="login_name" >
								</div>-->
                                <div class="input-group bmargindiv1 col-md-12" >
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Department :</span>
								<select class="form-control" ng-model="deptName"  ng-options="dept.name for dept in listOfDept track by dept.value" id="deptname" ng-readonly="userdept" ng-disabled="deptdis" ng-change="clearField('deptname')" tabindex="3" >
                                 <!--<option value="">Select course</option>-->
								 </select>
								</div>
                                
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addUserRoleData();"  id="addProfileData" ng-value="buttonName"  />
                            <input type="button" class="btn btn-danger" ng-click="cancelEdit();"  ng-value="cancelbuttonName" ng-show="showCancel"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

<div class="clearfix"></div> 

<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											 <div class="portlet-heading">
		<div class="portlet-title" id="SHOWINFO">
		<h4><i class="fa fa-list fa-fw"></i> List of User Role </h4>
		</div>
		<div class="clearfix"></div>
		</div>
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-4 col-sm-4">

                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Name</th>
                                                    <th>Department</th>
                                                    <th>User Role</th>
                                                    <th>Edit</th>
                                                    <th>Delete </th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="role in userRoleValue | orderBy:'user_name'">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{role.user_name}}</td>
													<td>{{role.dept_name}}</td>
                                                    <td>{{role.role}}</td>
                                         			<td>
													<a ui-sref='principal.user.userrole'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editRoleData(role.user_id);">  
													</a>
                                                    </td>
                                                    <td>
                                                    <a ui-sref='principal.user.userrole'>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteRoleData(role.user_id);" >  
													</a>
													</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>