<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-4 col-sm-4">

                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>
                                                    <select style="width:100%; border:none; font-weight:bold;" ng-options="sem.name for sem in noDeptSub track by sem.value" ng-model="deptSearch">
                                                    <option value="">Dept Name</option>
                                                    </select>
                                                    </th>
                                                    <th>
                                                    <select style="width:100%; border:none; font-weight:bold;" ng-options="cour.name for cour in nocourse track by cour.value" ng-model="courseSearch">
                                                    <option value="">Course Name</option>
                                                    </select>
                                                    </th>
                                                    <th>Semester</th>
                                                    <th>Subject Name</th>
                                                    <th>Short Name</th>
                                                    <th>Subject type</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="sub in listOfSubject | filter:{ dept_name: deptSearch.value, course_name:courseSearch.value} :true" >
                                                    <td>{{$index+1}}</td>
                                                    <td>{{sub.dept_name}}</td>
                                                    <td>{{sub.course_name}}</td>
                                                    <td>{{sub.semester}}</td>
                                         			<td>{{sub.subject_name}}</td>
                                                    <td>{{sub.short_name}}</td>
                                                    <td>{{sub.subject_type}}</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>