<div>
     <tabset>
    <tab ui-sref="principal.user.usermanagement" active="principalUserTabs[1]">
      <tab-heading>Add User</tab-heading>
    </tab>
    <tab ui-sref="principal.user.userrole" active="principalUserTabs[2]">
      <tab-heading>User Role</tab-heading>
    </tab>
  </tabset>
  <div ui-view></div>
</div>