


#imagemask {
	display: none;
	background: #000; 
	position: fixed; left: 0; top: 0; 
	z-index: 10;
	width: 100%; height: 100%;
	opacity: 0.3;
	z-index: 999;
}


.image-popup{
	display:none;
	background: #FFF;
	padding: 0px; 	
	border: 2px solid #ddd;
	float: left;
	font-size: 1.2em;
	position: fixed;
	top: 50%; 
	left: 50%;
	z-index: 99999;
	box-shadow: 0px 0px 20px #999;
	-moz-box-shadow: 0px 0px 20px #999; /* Firefox */
    -webkit-box-shadow: 0px 0px 20px #999; /* Safari, Chrome */
	border-radius:5px 5px 5px 5px;
    -moz-border-radius: 5px; /* Firefox */
    -webkit-border-radius: 5px; /* Safari, Chrome */
}

.textbox{
	width:auto;
	height:10px;	
	float:none;
	color:#fff;
	padding:5px;
	vertical-align:top;
	font-weight:bold;
	text-align:center;
}

.imagecontainer{
  width: auto;
}

.imagecontainer {
  margin-right: auto;
  margin-left: auto;
  *zoom: 1;
}

.imagecontainer:before,
.imagecontainer:after {
  display: table;
  content: "";
  line-height: 0;
}
.imagecontainer:after {
  clear: both;
}

.imagerow {
  *zoom: 1;
}
.imagerow:before,
.imagerow:after {
  display: table;
  content: "";
  line-height: 0;
}
.imagerow:after {
  clear: both;
  width:auto;
}

.imagespan {
  width: auto;
}


#image_box_title
{
   float:left;
   width:auto;
   margin:0px;
   color:#fff;
   font-family:Verdana,Arial;
   font-size:12pt;
   font-weight:bold;
   vertical-align:middle;
   padding-left:10px;   
}


#image_container_header
{
   height:40px;
   line-height:40px;
   width:auto;
   background:#006894;
  -moz-border-radius: 5px 5px 0 0 ;
	-webkit-border-radius: 5px 5px 0 0 ;
	-khtml-border-radius: 5px 5px 0 0 ;
	border-radius: 5px 5px 0 0 ;
	vertical-align:middle;
}

#image_container_header a
{
   color:#fff;
   font-family:Verdana,Arial;
   font-size:10pt;
   font-weight:bold;
}

img.btn_close {
	float: right; 
	margin: 3px 1px 0 0;
}

.formdiv{
	margin-bottom:0px;
	margin-top:5px;
	}

#upload-wrapper {
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 50px;
	background: #F5F5F5;
	padding: 50px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px #AAA;
}
#upload-wrapper h3 {
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 20px 0px;
	margin-top: -30px;
	border-bottom: 1px dotted #DDD;
}
#upload-wrapper input[type=file] {
	border: 1px solid #DDD;
	padding: 6px;
	background: #FFF;
	border-radius: 5px;
}
#upload-wrapper #submit-btn {
	border: none;
	padding: 10px;
	background: #61BAE4;
	border-radius: 5px;
	color: #FFF;
}

#output{
	padding: 5px;
	font-size: 12px;
}
#output img {
	border: 1px solid #DDD;
	padding: 5px;
}

/* progress bar style */
#progressbox {
	border: 1px solid #92C8DA;
	padding: 1px; 
	position:relative;
	width:auto;
	border-radius: 3px;
	margin: 0px;
	display:none;
	text-align:left;
}
#progressbar {
	height:20px;
	border-radius: 3px;
	background-color: #77E0FA;
	width:1%;
}
#statustxt {
	top:0px;
	left:45%;
	position:absolute;
	display:inline-block;
	color: #000000;
}