<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> View Plan </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                    <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colg_name" ng-options="colg.name for colg in listOfCollege track by colg.value" ng-change="selectStream();" ng-readonly="readcolg">
		                    	 </select>
								</div> 
                    <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Stream :</span>
                                 <select class="form-control"  ng-model="stream_name" ng-options="strm.name for strm in listOfStream track by strm.value " ng-change="GetDeptData();" ng-readonly="readstrm">
		                    	 </select>
								</div>
                                
                                
                     <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Department :</span>
								 <select class="form-control" id="dept_name" ng-model="dept_name" ng-options="dept.name for dept in listOfDept track by dept.value " ng-change="selectFaculty();" >
		                    	 </select>
                                 </div>
                                
                                
                                                          
                                
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Session :</span>
								 <select class="form-control" ng-disabled="user_readonly" id="session_name" ng-model="session_name" ng-options="result.name for result in listSession track by result.value "  ng-change="getUnitData();">
		                    	 </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Select Faculty :</span>
								 <select  class="form-control" id="faculty_name" ng-model="faculty_name" ng-options="faculty.name for faculty in listFaculty track by faculty.value" ng-change="getUnitData();">	
								 </select>
								</div>
                                
                                
                               
                                
                                
                                
                               
                               
                               
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>





<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											
                                    <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table" id = "unit_list" style="display:block">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
													<th>Session</th>
                                                    <th>Course Name</th>
                                                    <th>Semester</th>
                                                    <th>Subject</th>
                                                    <th>Section</th>
                                                    <th>Unit Name</th>
                                                    <th>Total Plan</th>
                                                    <th>Status</th>
                                                    <th>Completed Date</th>
                                                    <th>Verified</th>
                                                    <th>View</th>
                                         		</tr>
											</thead>
                                           
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="plan in viewUnitData">
													<td>{{$index+1}}</td>
                                                    <td>{{plan.session}}</td>
                                                    <td>{{plan.short_name}}</td>
                                                    <td >{{plan.semester}}</td>
                                                    <td >{{plan.subject_name}}</td>
                                                    <td >{{plan.section_name}}</td>
                                                    <td >{{plan.unit_name}}</td>
                                                    <td >{{plan.plan_no}}</td>
                                                    <td ng-if="plan.status==1">Completed</td>
                                                    <td ng-if="plan.status==0">Not Completed</td>
                                                     <td >{{plan.completed_date}}</td>
                                                  	
                                                    <td ng-if="plan.status==1 && plan.review_status ==0"> 
                                                    <a >
                                                    <input type='button' class='btn btn-xs btn-red' value='Approve' ng-click="verifiedPlanData(plan.unit_id);">  
                                                    </a>
                                                    </td>
                                                    
                                                    <td ng-if="plan.status==1 && plan.review_status ==1"> 
                                                    <input type='button' class='btn btn-xs btn-green' value='Approved' >  
                                                   
                                                    </td>
                                                    
                                                    <td ng-if="plan.status==0"> - </td>
                                                    <td>
													<a >
													<input type='button' class='btn btn-xs btn-green' value='View' ng-click="showPlanData(plan.unit_id);">  
													</a>
													</td>
                                            		</tr>	
											</tbody>
                                           
										</table>
                                        
                                        
                                        
								</div>
                                
                                
                                <div class="table-responsive dashboard-demo-table" id = "plan_list" style="display:none">
                                   
                			<div style="text-align:center; padding-top:10px; padding-bottom:10px;">
                            <input type="button" class="btn btn-success" ng-click="showUnitData();" value="Back"  />
                  			</div>  
                           <div class="clearfix"></div>       
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-3 col-sm-3">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
													<th>Date</th>
                                                    <th>Unit_Name</th>
                                                    <th>Lession Plan</th>
                                                    <th>Topic</th>
                                                    <th>Status</th>
                                                    <th>Completed Date</th>
                                              </tr>
											</thead>
                                           <tbody id="detailsstockid">
                                               		<tr ng-repeat="plan in viewPlanData">
													<td>{{$index+1}}</td>
                                                    <td>{{plan.date}}</td>
                                                    <td>{{plan.unit_name}}</td>
                                                    <td >{{plan.plan}}</td>
                                                    <td >{{plan.topic}}</td>
                                                    <td ng-if="plan.status==1">Completed</td>
                                                    <td ng-if="plan.status==0">Not Completed</td>
                                                    <td >{{plan.completed_date}}</td>
                                                    </tr>	
											</tbody>
											
                                           
										</table>
                       
                       <div style="text-align:center; padding-top:10px; padding-bottom:10px; display:none" >
                       
                       <div class="col-md-6">
                       <div class="input-group bmargindiv1 col-md-12">
                       <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Verified :</span>
						<select class="form-control" ng-disabled="user_readonly" id="verified_name" ng-model="verified_name"   ng-options="faculty.name for faculty in listVerified track by faculty.value" ng-change="updateVerified();">
                       
		                 </select>
						</div>
                        </div>
                         
                         
                         <div class="clearfix"></div>   
                                 
                  		</div>
                        
                        
                                         
                                        
								</div>
                                
                                
                                
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>
                                
     
     
     
                                 
      <div class="modal" id="addunit" tabindex="-1"  style="display:none" >
      <div class="modal-dialog" style="width:40%; margin-top:150px;">
        <div class="modal-content">
          <div class="modal-header" style="padding:5px; padding-left:20px;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick="closeEditNameDialog();">&times;</button>
          <h3 class="modal-title" id="myModalLabel" style="font-size:18px">Add Unit Name</h3>
          </div>
          <div class="modal-body" style="padding-bottom:0px;">
	      <div class="input-group bmargindiv1 col-md-12">
	      <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Unit Name:</span>
		  <input type="text" class="form-control" id="new_unit_name" ng-model="new_unit_name" ng-value=""   >
          </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-bg btn-green outlinedivnone"  ng-click="addNewUnitName()" >Add</button>
          <button type="button" class="btn btn-default btn-green" ng-click="closeUnitDialog()"><i class="fa fa-times"></i>CLOSE</button>
          </div>
        </div>
      </div>
    </div>                           
                                
                                