
    	<div class="container">
        	<div class="row">
                <div class="col-md-12 text-center login-header" style="padding:40px 0px;">
		
                </div>
                <!--/span-->
            </div><!--/row-->
        	<div class="col-md-6 marginautodiv floatnonediv well">
            	<div class="totalaligndiv">
            	<div class="alert alert-info text-center">
               		<!-- <img src="img/logo.jpg"  style="width:100px; height:auto"/>
                    <span style="font-weight:bold; font-size:16px">Channabasavashwara Institude of Technology</span>
                    <BR> -->
                    Please login with your Username and Password.
                </div>
                 <form class="form-horizontal"  id="frmlogin"  autocomplete="off">
                    <fieldset>
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <input type="text" name="txtname" id="logintxtname" class="form-control" placeholder="Username" ng-model="user_name" ng-keypress="clearField('logintxtname');">
                        </div>
                        <div class="clearfix"></div><br>
    
                        <div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                            <input type="password" name="pwd" id="logintxtpwd" class="form-control" placeholder="Password" ng-model="user_pass" ng-keypress="clearField('logintxtpwd');">
                        </div>
                        <div class="clearfix"></div><br>
						<!--<div class="input-group input-group-lg">
                            <span class="input-group-addon"><i class="fa fa-user"></i></span>
                            <select id="coy" name="coy" class="form-control" ng-model="user_type" >
								 <option value="">Select User Type</option>
                                 <option value="admin">admin</option>
                                 <option value="hod">hod</option>
								 </select>
                        </div>
                        <div class="clearfix"></div>-->
    
                        <div class="input-prepend">
                        </div>
                        <div class="clearfix"></div>
    
                        <p class="text-center tbpaddingdiv2">
                        <button type="text" name="login" id="login" class="btn btn-primary"  style="width:270px;" ng-click="user_login();">Login</button>
                        </p>
                    </fieldset>
                </form>
                </div>
            </div>
        </div>