<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add & Update College Profile </h4>
								</div>
								<div class="clearfix"></div>
							</div>
                            
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Title :</span>
                                <input type="text" name="colgmname" id="procolgtitle" class="form-control" placeholder="Add College Title" ng-model="colgname" ng-keypress="clearField('procolgtitle');"  maxlength="50">
								</div> 
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Subtitle :</span>
                                <input type="text" name="subtitle" id="procolgsubtitle" class="form-control" placeholder="Add College Subtitle" ng-model="shortname" ng-keypress="clearField('procolgsubtitle');"  maxlength="30">
                                </div>
                               <!-- <div class="help-block" ng-messages="billdata.subtitle.$error" ng-if="billdata.subtitle.$touched">
                                <p ng-message="maxlength" style="color:#F00;">This field is too long.The maximum length of your Subtitle should be 10.</p>
                                </div>-->
                                                               <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Mobile No (10 digits) :</span>
                                <div ng-class="{ 'myError': billdata.mobno.$touched && billdata.mobno.$invalid }">
                                <input type="text" name="mobno" id="procolgcontactno" class="form-control" placeholder="Add Mobile No" ng-model="contno"  ng-pattern="/^[0-9]{10,10}$/" ng-keypress="clearField('procolgcontactno');" >
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.mobno.$error" ng-if="billdata.mobno.$touched">
                                <p ng-message="pattern" style="color:#F00;">Please add a valid 10 digit mobile no.</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Email Address :</span>
                                 <div ng-class="{ 'myError': billdata.email.$touched && billdata.email.$invalid }">
                                <input type="email" name="email" id="procolgmail" class="form-control" placeholder="Add Email Address" ng-model="colgemail" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-keypress="clearField('procolgmail');"   maxlength="50">
                                </div>
								</div>
                                
                                <div class="help-block" ng-messages="billdata.email.$error" ng-if="billdata.email.$touched">
                                <p ng-message="email" style="color:#F00;">This needs to be a valid email</p>
                                <p ng-message="pattern" style="color:#F00;">This field needs valid email format(e.g-abc@gmail.com).</p>
                                </div>
                                 </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Code :</span>
								 <input type="text" name="colgcode" id="procolgcode" class="form-control" placeholder="Add College Code" ng-model="colgcode" ng-keypress="clearField('procolgcode');"  maxlength="30" >
								</div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Address :</span>
								<textarea id="procolgaddress" name="address" class="form-control" placeholder="Add College Address" rows="5" ng-model="address" style="height:122px" ng-keypress="clearField('procolgaddress');"></textarea>
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addProfileData(billdata);"  id="addProfileData" ng-value="buttonName"/>
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                    <input type="button" class="btn btn-red" ng-click="clearProfileData();"  id="addProfileData" ng-value="ClearbuttonName" ng-show="showCancel"/>
                </div>

           <div class="clearfix"></div>    
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

</div>



<div class="col-lg-12">



										<div class="portlet portlet-blue" style="margin-bottom:12px;">
										<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-list fa-fw"></i>List of College Profile </h4>
								</div>
								<div class="clearfix"></div>
							</div>	
                                            
                                            
                                            
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-4 col-sm-4">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>College Title</th>
                                                    <th>Code</th>
                                                    <th>Contact No</th>
                                                    <th>Email</th>
                                                    <th>Address</th>
                                                    <th>Edit</th>
                                                    <th>Remove</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="profile in profileData | orderBy:'colg_name'">
                                                    <td>{{$index+1}}</td>
													<td>{{profile.colg_name}}</td>
                                                    <td>{{profile.code}}</td>
                                                    <td>{{profile.cont_no}}</td>
                                                    <td>{{profile.email}}</td>
													<td>{{profile.address}}</td>
                                         			<td>
													<!--<a ui-sref='dashboard.profile({p_i:profile.profile_id})'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="reload();">  
													</a>-->
                                                    <a ui-sref='dashboard.profile'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editProfileData(profile.profile_id);">  
													</a>
													</td>
                                                    <td>
                                                     <a ui-sref='dashboard.profile'>
													<input type='button' class='btn btn-xs btn-red' value='Remove' ng-click="deleteProfileData(profile.profile_id);" >  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>