<div> <!--class="container"-->
<!--<div class="codrops-top">
                <span class="right">
                    <a href="#">
                        <strong>Select below options to choose the form</strong>
                    </a>
                </span>
            </div>/ Codrops top bar -->
            <!--<header>
				
				<nav class="codrops-demos">
					<ul class="nav nav-sidebar" ng-class="{active: $state.includes('dashboard')}" >
                    <li ui-sref-active="active"><a ui-sref=".userrole">Add User Role</a></li>
                    <li ui-sref-active="active"><a ui-sref=".course">Add Course</a></li>
                    <li ui-sref-active="active"><a ui-sref=".submenu3">Submenu3</a></li>
                   </ul>
				</nav>
                
                </header>
                <div ui-view>
                 
                </div>-->
     <uib-tabset>
    <uib-tab ui-sref="dashboard.res.userrole" active="tabs[1]">
      <uib-tab-heading> User Role</uib-tab-heading>
    </uib-tab>
    <!--<uib-tab ui-sref="dashboard.res.course" ui-sref-active="active">
      <uib-tab-heading>Add Course</uib-tab-heading>
    </uib-tab>-->
    <uib-tab ui-sref="dashboard.res.class" active="tabs[2]">
      <uib-tab-heading>Subject Type</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="dashboard.res.section" active="tabs[3]">
      <uib-tab-heading>Section</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="dashboard.res.session" active="tabs[4]">
      <uib-tab-heading>Academic Year</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="dashboard.res.unit" active="tabs[5]">
      <uib-tab-heading>Lecture Unit</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="dashboard.res.lecturePlan" active="tabs[9]">
      <uib-tab-heading>Lecture Plan</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="dashboard.res.venue" active="tabs[6]">
      <uib-tab-heading> Venue</uib-tab-heading>
    </uib-tab>
     <uib-tab ui-sref="dashboard.res.day" active="tabs[7]">
      <uib-tab-heading>Working Day</uib-tab-heading>
    </uib-tab>
     <uib-tab ui-sref="dashboard.res.time" active="tabs[8]">
      <uib-tab-heading>Working Hour</uib-tab-heading>
    </uib-tab>
  </uib-tabset>
  <div ui-view></div>
</div>