<div class="row">
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add Work Done Statement </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
                     <div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" ng-show="showFirstForm">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                             <div class="input-group bmargindiv1 col-md-12" ng-show="displayCollege">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colg_name" ng-options="colg.name for colg in listOfCollege track by colg.value" ng-change="selectStream('colg_name');" ng-readonly="readcolg" ng-disabled="colgdis">
		                    	 </select>
								</div> 
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Stream :</span>
                                 <select class="form-control"  id="stream_name" ng-model="stream_name" ng-options="strm.name for strm in listOfStream track by strm.value " ng-change="GetDeptData('stream_name');" ng-readonly="readstrm" ng-disabled="disstrm" >
		                    	 </select>
								</div>-->
                                
                                <div class="input-group bmargindiv1 col-md-12" ng-show="displayDepartment">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Department :</span>
                                 <select class="form-control"  id="dept_name" ng-model="dept_name" ng-options="dept.name for dept in listOfdept track by dept.value" ng-change="getListOfCourse('dept_name');" ng-readonly="readdept" ng-disabled="disdept" >
		                    	 </select>
								</div> 
                                <div class="input-group bmargindiv1 col-md-12" ng-show="displayAcademic">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Academic Year :</span>
                                 <input type="text" ng-disabled="Academicdis" ng-value="AcademicName" class="form-control" ng-readonly="readAcademic" />
                                </div>
                                <div class="input-group bmargindiv1 col-md-12" ng-show="displayunitname">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Unit Name :</span>
                                 <input type="text" ng-disabled="unitdis" ng-value="unitName" class="form-control" ng-readonly="readUnit" />
                                </div>
                                 <div class="input-group bmargindiv1 col-md-12" ng-show="displaylessionplan">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Lession Plan :</span>
                                 <input type="text" ng-disabled="plandis" ng-value="planName" class="form-control" ng-readonly="readPlan"  />
                                </div>
             
                               
                                  <!--  <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Course Name:</span>
								 <select class="form-control" ng-disabled="user_readonly" id="course_name" ng-model="course_name" ng-options="course.name for course in listOfCourse track by course.value " ng-change="selectedCourse('course_name');" >
								 </select>
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Semester :</span>
								 <select id="semester" ng-disabled="user_readonly" class="form-control" ng-model="semester" ng-options="result.name for result in noSemesters track by result.value "  ng-change="selectedSemester('semester');">
								 <option value="">Select Semester</option>
								 </select>
								</div>
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Subject Name :</span>
                                <select id="subject_name"  ng-disabled="user_readonly" class="form-control" ng-model="subject_name" ng-options="sub.name for sub in listOfSubject track by sub.value " ng-change="clearField('subject_name');" >
								 </select>
								</div>
                                
                                
                                -->
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                 <div class="input-group bmargindiv1 col-md-12" ng-show="displayinfo">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Info :</span>
                                 <input type="text" ng-disabled="infodis" ng-value="infoName" class="form-control" ng-readonly="readinfo"  />
                                </div>
                                <div class="input-group bmargindiv1 col-md-12" ng-show="displayFaculty">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Select Faculty :</span>
								 <select  class="form-control" id="faculty_name" ng-disabled="user_readonly" ng-model="faculty_name" ng-options="faculty.name for faculty in listFaculty track by faculty.value" ng-change="showYourList('faculty_name');" >	
								 </select>
								</div>
                                <div class="input-group bmargindiv1 col-md-12" ng-show="displayDate">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px"> Completed Date  :</span>
                                <div class="datepicker" date-format="dd-MM-y" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'> 
                                <input type="text" name="birthdate" class="form-control" id="date" ng-model="date" placeholder="Add date" ng-change="clearField('date');" />
                                </div>
								</div> 
                                <div class="input-group bmargindiv1 col-md-12" ng-show="displayTimeSlot">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Time Slot :</span>
                                <select class="form-control" ng-model="time_slot" ng-options="sec.name for sec in listTimeData track by sec.value " id="time_slot" ng-change="clearField('time_slot');"> </select>
                              	</div>
                                <div class="input-group bmargindiv1 col-md-12" ng-show="displayStatus">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Status :</span>
                                <select class="form-control" ng-model="status_name" ng-options="sec.name for sec in listStatus track by sec.value " id="status_name" ng-change="clearField('status_name');"> 
                                
                                </select>
                              	</div>
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Section:</span>
								  <select id="section" ng-disabled="user_readonly" class="form-control" ng-model="section" ng-options="sec.name for sec in listOfSection track by sec.value "  ng-change="clearField('section');" >
								 </select>
								</div>
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Academic Year :</span>
								 <select class="form-control" ng-disabled="user_readonly" id="session_name" ng-model="session_name" ng-options="result.name for result in listSession track by result.value "  ng-change="checkTableData('session_name');">
		                    	 </select>
								</div>
                                
                                
                               
                       
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Lecture Unit :</span>
                                <select class="form-control" ng-disabled="user_readonly" id="unit_name" ng-model="unit_name" ng-options="sec.name for sec in listUnitData track by sec.value " ng-change="getPlanData('unit_name');"  > </select>
                                </div> 
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Select Plan :</span>
                                <select class="form-control" id="plan_name" ng-model="plan_name" ng-options="sec.name for sec in listPlanData track by sec.value " ng-change="getPlanDetails('plan_name');" > </select>
                              	</div> 
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px"> Completed Date  :</span>
                                <div class="datepicker" date-format="dd-MM-y" button-prev='<i class="fa fa-arrow-circle-left"></i>' button-next='<i class="fa fa-arrow-circle-right"></i>'> 
                                <input type="text" name="birthdate" class="form-control" id="date" ng-model="date" placeholder="Add date" ng-change="clearField('date');" />
                                </div>
								</div> 
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Time Slot :</span>
                                <select class="form-control" ng-model="time_slot" ng-options="sec.name for sec in listTimeData track by sec.value " id="time_slot" ng-change="clearField('time_slot');"> </select>
                              	</div>
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Status :</span>
                                <select class="form-control" ng-model="status_name" ng-options="sec.name for sec in listStatus track by sec.value " id="status_name" ng-change="clearField('status_name');"> 
                                
                                </select>
                              	</div>
                               
                               
                               -->
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                   <!-- <div style="text-align:center; padding-top:10px;" ng-hide="displayShowList">
                    <input type="button" class="btn btn-success" ng-click="showYourList();" value="Show your list"  />
                    </div>-->
                    <div style="text-align:center; padding-top:10px;" ng-show="displayAdd">
                            <input type="button" class="btn btn-success" ng-click="addPlanData();" ng-value="buttonName" id="addsubjectData"  />
                            <input type="button" class="btn btn-danger" ng-click="clearPlanData();" ng-value="clearButtonName" ng-show="showCancel"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>
                     <!--- Display List--------->
                <div class="portlet-body" ng-show="displayTableList">
                <div class="table-responsive dashboard-demo-table" id = "unit_list" style="display:block">
                <!--<div style="text-align:center; padding-top:10px; padding-bottom:10px;">
                <input type="button" class="btn btn-success" ng-click="BackToTheForm();" value="Back"  />
                </div>  -->
                <table class="table table-bordered table-striped table-hover" id="dataTable">
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                  <!--  <th>College Name</th>-->
                                                    <th>Academic Year,</th>
                                                    <th>Plan Date</th>
                                                    <th>
                                                   Unit Name
                                                    </th>
                                                    <th>
                                                  Lecture Plan
                                                    </th>
                                                    <th>
                                                   Info(Course name,Section,Subject,Semester)
                                                    </th>
													<th>Action</th>
                                         		</tr>
											</thead>
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="p in viewIncompletePlanData" ng-if="viewIncompletePlanData.length>0">
													<td>{{$index+1}}</td>
                                                    <!--<td>{{plan.colg_name}}</td>-->
                                                    <td>{{p.session}}</td>
                                                    <td>{{p.date}}</td>
                                                    <td>{{p.unit_name}}</td>
                                                    <td>{{p.plan}}</td>
                                                     <td>{{p.short_name}},{{p.section_name}},{{p.subject_name}},{{p.semester}}</td>
                                                    <td> 
                                                    <a >
                                                    <input type='button' class='btn btn-xs btn-success' value='Update' ng-click="displaySecondForm(p.clg_id,p.unit_plan_id,p.plan_id,p.user_id,p.plan,p.unit_name,p.session,p.section_name,p.subject_name,p.semester,p.short_name);">  
                                                    </a>
                                                    </td>
                                            		</tr>	
                                                    <tr ng-if="viewIncompletePlanData== null || viewIncompletePlanData.length === 0">
                                                    <td colspan="7">
                <center>
                    <p><b>No Record Matched</b>

                    </p>
                </center>
            </td>
                                                      </tr>
											</tbody>
										</table>
                                        </div>
                                       </div>
                <!-------END Display List-------------->
                    
                			
           <div class="clearfix"></div>   
           
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
                   
                 </div>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>
</div>
<div class="clearfix"></div> 
<div class="col-md-6">        
                   <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">College Name :</span>
                                 <select class="form-control"  id="colg_name" ng-model="colgName" ng-options="colg.name for colg in listOfFillterCollege track by colg.value" ng-change="getDepartmentData();" >
		                    	 </select>
								</div> 
                    </div>
                    <div class="col-md-6">
                   <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Department :</span>
                                 <select class="form-control"  id="dept_name" ng-model="deptName" ng-options="dept.name for dept in listOfFillterdept track by dept.value" ng-change="getRecordUsingDept();">
		                    	 </select>
								</div> 
                    </div>
                    <div class="clearfix"></div>   

                              <div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											<div class="portlet-heading">
											<div class="portlet-title" id="SHOWINFO">
								<h4><i class="fa fa-list fa-fw"></i>  List of Completed Unit & Plan </h4>
							</div>
						<div class="clearfix"></div>
							</div>
                         
                                    <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table" id="unit_list" style="display:block">
										<table class="table table-bordered table-striped table-hover" id="dataTable" ng-show="showTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                  <!--  <th>College Name</th>-->
                                                    <th ng-show="showhdept">Department Name</th>
													<th>
                                                    Academic Year
                                                    </th>
                                                    <th>
                                                    Faculty
                                                    </th>
                                                    <th>
                                                    Course Name
                                                    </th>
                                                    <th>
                                                    Semester
                                                    </th>
                                                    <th>
                                                    Subject
                                                    </th>
                                                    <th>
                                                    Section
                                                    </th>
                                                    <th>
                                                    Unit Name
                                                    </th>
                                                    <th>Plan (Completed / Total)</th>
                                                    <th>Unit Status</th>
                                                    <th>Review</th>
                                                    <th>View</th>
													<th>Action</th>
                                         		</tr>
											</thead>
                                           
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="plan in viewUnitData | orderBy:'user_name' ">
													<td>{{$index+1}}</td>
                                                    <!--<td>{{plan.colg_name}}</td>-->
                                                    <td ng-show="showldept">{{plan.dept_name}}</td>
                                                    <td>{{plan.session}}</td>
                                                    <td>{{plan.user_name}}</td>
                                                    <td>{{plan.short_name}}</td>
                                                    <td >{{plan.semester}}</td>
                                                    <td >{{plan.subject_name}}</td>
                                                    <td >{{plan.section_name}}</td>
                                                    <td >{{plan.unit_name}}</td>
                                                    <td >{{plan.cplan_no}}/{{plan.plan_no}}</td>
                                                    <td ng-if="plan.status==1">Completed</td>
                                                    <td ng-if="plan.status==0">Not Completed</td>
                                                    <td ng-if="plan.review_status==1">YES</td>
                                                    <td ng-if="plan.review_status==0">NO</td>
                                                    <td ng-if="plan.status==1 && plan.review_status ==0"> 
                                                    <a >
                                                    <input type='button' class='btn btn-xs btn-red' value='Approve' ng-click="verifiedPlanData(plan.unit_plan_id);">  
                                                    </a>
                                                    </td>
                                                    
                                                    <td ng-if="plan.status==1 && plan.review_status ==1"> 
                                                    <input type='button' class='btn btn-xs btn-green' value='Approved' >  
                                                   
                                                    </td>
                                                    
                                                    <td ng-if="plan.status==0 && plan.review_status ==0"> 
                                                    -
                                                    </td>
                                                    
                                                    <td>
													<a >
													<input type='button' class='btn btn-xs btn-green' value='View' ng-click="showCompletedPlanData(plan.unit_plan_id);">  
													</a>
													</td>
                                            		</tr>	
											</tbody>
                                           
										</table>
								</div>
                                <div class="table-responsive dashboard-demo-table" id = "plan_list" style="display:none">
                                   
                			<div style="text-align:center; padding-top:10px; padding-bottom:10px;">
                            <input type="button" class="btn btn-success" ng-click="showUnitData();" value="Back"  />
                  			</div>  
                           <div class="clearfix"></div>       
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
													<th>Date</th>
                                                    <th>Unit_Name</th>
                                                    <th>Lecture Plan</th>
                                                     <th>Time Slot</th>
                                                    <th>Plan Date</th>
                                                    <th>Status</th>
                                                    <th>Completed Date</th>
                                          		</tr>
											</thead>
                                           <tbody id="detailsstockid">
                                               		<tr ng-repeat="plan in viewPlanData">
													<td>{{$index+1}}</td>
                                                    <td>{{plan.date}}</td>
                                                    <td>{{plan.unit_name}}</td>
                                                    <td >{{plan.plan}}</td>
                                                     <td >{{plan.time_slot}}</td>
                                                    <td >{{plan.date}}</td>
                                                    <td ng-if="plan.status==1">Completed</td>
                                                    <td ng-if="plan.status==0">Not Completed</td>
                                                    <td >{{plan.completed_date}}</td>
                                                    </tr>	
											</tbody>
											
                                           
										</table>
								</div>
                                
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>
                                
     
     
     
                                 
      <div class="modal" id="addunit" tabindex="-1"  style="display:none" >
      <div class="modal-dialog" style="width:40%; margin-top:150px;">
        <div class="modal-content">
          <div class="modal-header" style="padding:5px; padding-left:20px;">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onClick="closeEditNameDialog();">&times;</button>
          <h3 class="modal-title" id="myModalLabel" style="font-size:18px">Add Unit Name</h3>
          </div>
          <div class="modal-body" style="padding-bottom:0px;">
	      <div class="input-group bmargindiv1 col-md-12">
	      <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Unit Name:</span>
		  <input type="text" class="form-control" id="new_unit_name" ng-model="new_unit_name" ng-value=""   >
          </div>
          </div>
          <div class="modal-footer">
          <button type="button" class="btn btn-bg btn-green outlinedivnone"  ng-click="addNewUnitName()" >Add</button>
          <button type="button" class="btn btn-default btn-green" ng-click="closeUnitDialog()"><i class="fa fa-times"></i>CLOSE</button>
          </div>
        </div>
      </div>
    </div>                           
                                
                                