 <!--  Start Admin controller pages --->
    <script src="../controller/loginController.js" type="text/javascript"></script>
    <script src="../controller/adminController.js" type="text/javascript"></script>
    <script src="../controller/adminCollegeProfileController.js" type="text/javascript"></script>
    <script src="../controller/adminResController.js" type="text/javascript"></script>
    <script src="../controller/adminResourceUserRoleController.js" type="text/javascript"></script>
    <script src="../controller/adminResourceClassController.js" type="text/javascript"></script>
    <script src="../controller/adminResourceSectionController.js" type="text/javascript"></script>
    <script src="../controller/adminResourceSessionController.js" type="text/javascript"></script>
    <script src="../controller/adminResourceUnitController.js" type="text/javascript"></script>
    <script src="../controller/adminResourceVenueController.js" type="text/javascript"></script>
    <script src="../controller/adminDepartmentManagementController.js" type="text/javascript"></script>
    <script src="../controller/adminDeptManagementStreamController.js" type="text/javascript"></script>
    <script src="../controller/adminDeptManagementCourseController.js" type="text/javascript"></script>
    <script src="../controller/adminDeptManagementSubjectController.js" type="text/javascript"></script>
    <script src="../controller/adminDeptManagementDeptController.js" type="text/javascript"></script>
    <script src="../controller/adminUserManagementController.js" type="text/javascript"></script>
    <script src="../controller/adminUserManagementUserController.js" type="text/javascript"></script>
    <script src="../controller/adminUserManagementRoleController.js" type="text/javascript"></script>
    <script src="../controller/adminProfileController.js" type="text/javascript"></script>
    <script src="../controller/adminPlanManagementController.js" type="text/javascript"></script>
    <script src="../controller/adminPlanManagementTimeTableController.js" type="text/javascript"></script>
    <script src="../controller/adminPlanManagementFacultyTimeTableController.js" type="text/javascript"></script>
    <script src="../controller/adminPlanManagementPlanController.js" type="text/javascript"></script>
    
    <!-- END OF  ADMIN CONTROLLER PAGES -->