<script src="../controller/deptAdminHomeController.js" type="text/javascript"></script>
<script src="../controller/deptAdminSubjectController.js" type="text/javascript"></script>
<script src="../controller/deptAdminUserController.js" type="text/javascript"></script>
<script src="../controller/deptAdminUserRoleController.js" type="text/javascript"></script>
<script src="../controller/deptAdmintimeTableController.js" type="text/javascript"></script>
<script src="../controller/deptAdminFacultyTimeTableController.js" type="text/javascript"></script>
<script src="../controller/deptAdminProfileController.js" type="text/javascript"></script>

