<script src="../controller/hodHomeController.js" type="text/javascript"></script>
<script src="../controller/hodSubjectController.js" type="text/javascript"></script>
<script src="../controller/hodUserController.js" type="text/javascript"></script>
<script src="../controller/hodUserRoleController.js" type="text/javascript"></script>
<script src="../controller/hodTimeTableController.js" type="text/javascript"></script>
<script src="../controller/hodFacultyTimeTableController.js" type="text/javascript"></script>
<script src="../controller/hodPlanController.js" type="text/javascript"></script>
<script src="../controller/hodProfileController.js" type="text/javascript"></script>
<script src="../controller/hodMyplanManagementController.js" type="text/javascript"></script>
<script src="../controller/hodMyplanController.js" type="text/javascript"></script>
<script src="../controller/hodMyTimeTableController.js" type="text/javascript"></script>
<script src="../controller/hodMyWDSController.js" type="text/javascript"></script>

