             <script src="../controller/princpalController.js" type="text/javascript"></script>
         	<script src="../controller/princpalHomeController.js" type="text/javascript"></script>
         	<script src="../controller/princpalDepartmentController.js" type="text/javascript"></script>
          	<script src="../controller/princpalcourseController.js" type="text/javascript"></script>
           	<script src="../controller/princpalsubjectController.js" type="text/javascript"></script>
           	<script src="../controller/princpalUserController.js" type="text/javascript"></script>
            <script src="../controller/princpalTimeController.js" type="text/javascript"></script>
			<script src="../controller/princpalfacultyTimeTableController.js" type="text/javascript"></script>
            <script src="../controller/princpalPlanController.js" type="text/javascript"></script>
			<script src="../controller/princpalwdsController.js" type="text/javascript"></script>
            <script src="../controller/pricipalDeptController.js" type="text/javascript"></script>
            <script src="../controller/pricipalDeptStreamController.js" type="text/javascript"></script>
            <script src="../controller/pricipalDeptDepartmentController.js" type="text/javascript"></script>
             <script src="../controller/pricipalDeptCourseController.js" type="text/javascript"></script>
             <script src="../controller/pricipalDeptSubjectController.js" type="text/javascript"></script>
			 <script src="../controller/princpalResourceController.js" type="text/javascript"></script>
             <script src="../controller/princpalResourceUserRoleController.js" type="text/javascript"></script>  
              <script src="../controller/princpalResourceClassController.js" type="text/javascript"></script>
             <script src="../controller/princpalResourceSectionController.js" type="text/javascript"></script>			  
              <script src="../controller/princpalResourceSessionController.js" type="text/javascript"></script>     
              <script src="../controller/princpalResourceUnitController.js" type="text/javascript"></script> 
			   <script src="../controller/princpalResourceVenueController.js" type="text/javascript"></script>
			   <script src="../controller/princpalUserManagementUserController.js" type="text/javascript"></script>
			   <script src="../controller/princpalUserManagementController.js" type="text/javascript"></script>
			    <script src="../controller/princpalUserManagementUserRoleController.js" type="text/javascript"></script>
                 <script src="../controller/princpalPlan.js" type="text/javascript"></script>
                  <script src="../controller/princpalPlanTimetableController.js" type="text/javascript"></script>
                  <script src="../controller/princpalPlanFacultyTimetableController.js" type="text/javascript"></script>
                  <script src="../controller/princpalProfileController.js" type="text/javascript"></script>
                 