<script src="../controller/userController.js" type="text/javascript"></script>
 <script src="../controller/userTimeTableController.js" type="text/javascript"></script>
<script src="../controller/userPlanController.js" type="text/javascript"></script>