<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-4 col-sm-4">

                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Dept Name</th>
                                                    <th>Short Name</th>
                                                    <th>HOD</th>
                                                    <th>No of Faculty</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="dept in listOfDeptData" >
                                                    <td>{{$index+1}}</td>
                                                    <td>{{dept.dept_name}}</td>
                                                    <td>{{dept.short_name}}</td>
                                                    <td>{{dept.user_name}}</td>
                                         			<td>{{dept.no_fac}}</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>