<div>
 <uib-tabset>
 <uib-tab ui-sref="hod.myplanManagement.myTimeTable" active="myPlanManagementHODtabs[1]">
      <uib-tab-heading>My TimeTable</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="hod.myplanManagement.myPlan" active="myPlanManagementHODtabs[2]">
      <uib-tab-heading>My Plan</uib-tab-heading>
    </uib-tab>
    <uib-tab ui-sref="hod.myplanManagement.myWDS" active="myPlanManagementHODtabs[3]">
      <uib-tab-heading>My WDS</uib-tab-heading>
    </uib-tab>
    </uib-tabset>
  <div ui-view></div>
</div>