<div class="row" style="padding-top:-15px;" >
<div class="col-md-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Consolidated Time Table </h4>
								</div>
								<div class="portlet-widgets">
								<!--	<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" >
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Academic Year :</span>
								 <select class="form-control" id="session_name" ng-model="session_name" ng-options="result.name for result in listSession track by result.value "  ng-change="checkTableData();">
		                    	 </select>
								</div>
                                
                                </div>
                                
                                 
                                
                     </div>              
                    <div class="clearfix"></div>            
                    
                    <div class="col-md-12">
                     
                    <div class="table-responsive dashboard-demo-table">
				<table class="table table-bordered table-striped table-hover" id="dataTable">
  	<tr>
  	<tbody id="detailsstockid">
  	</tbody>
	</table>
	</div>
    </div>
                    
                    
                     
                    
                    <div class="clearfix" ></div>  
                    
                    
                                
                                
                                          <div class="clearfix"></div>      
                                          
                    
                    </div>
                    </div>
                    </div>
                    	
                        	
					</form>
                    		</div>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>
		</div>
            