<div class="row" style="padding-top:-15px;" >
<div class="col-md-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Consolidated Time Table </h4>
								</div>
								<div class="portlet-widgets">
									<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" >
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Session :</span>
								 <select id="coy" name="coy" class="form-control" ng-model="session_name " ng-options="session.name for session in listOfSession track by session.value" >	
                                 <option value="">Select Session</option>
								 </select>
								</div>
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Faculty Name :</span>
								<select id="coy" name="coy" class="form-control" ng-model="fac_name " ng-options="fac.name for fac in listOfFaculty track by fac.value" ng-change="checkTableData();" >	
								 <option value="">Select Faculty</option>
                            	 </select>
								</div>
                                 
                     </div>              
                    <div class="clearfix"></div>            
                    
                    <div class="col-md-12">
                     
                    <div class="table-responsive dashboard-demo-table">
				<table class="table table-bordered table-striped table-hover" id="dataTable">
  <tr>
    <td width="100" align="center">Time <i class="fa fa-long-arrow-right"></i>
      <BR>Day <i class="fa fa-long-arrow-down"></i>
    </td>
    <td width="100" align="center" ng-repeat="hour in hours" ng-bind="hour.time_slot"></td>
  </tr>
  <tbody ng-bind-html="timeTableHtml" >
    <!--<tr ng-repeat="days in noOfDays">
      <td width="100" align="center" style=" vertical-align:middle" ng-bind="days.day"></td>
      <td width="100" align="center" style="padding:0px;" ng-repeat="hour in hours" ng-init="count=0">
        <table style="margin:0px; padding:0px; width:100%">
          <tr>
            <td>
              <input type="text" name="itemname" id="coursemname" class="form-control" placeholder="Add sub name" readonly  >
            </td>
          </tr>
          <tr>
            <td>
               <input type="text" name="itemname" id="coursemname" class="form-control" placeholder="Add fac name" readonly  >
            </td>
          </tr>
      </td>
      </table>
      </td>
    </tr>-->
  </tbody>
</table>
								</div>
                    			</div>
                    
                    <div class="clearfix"></div>  
                    
                    
                      <div class="col-md-6">
                                
                               
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Approved By HOD :</span>
								 <input type="text" name="itemusp" id="itemusp" readonly class="form-control" placeholder="" maxlength="16" value="Pending...">
								</div>
                        </div>
                                
                        <div class="col-md-6">         
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Approved By Principal :</span>
								 <input type="text" name="itemusp" id="itemusp" readonly class="form-control" placeholder="" maxlength="16" value="Pending...">
								</div>  
                               
                                
                                </div>
                                
                                          <div class="clearfix"></div>      
                                          <div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success"  id="addProfileData" value="Add" ng-click="addTimeTableData();"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>             
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>
		</div>
            
