<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											<div class="portlet-heading">
		<div class="portlet-title" id="SHOWINFO">
		<h4><i class="fa fa-list fa-fw"></i> List of Subjects </h4>
		</div>
		<div class="clearfix"></div>
		</div>
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-4 col-sm-4">

                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>User Name</th>
                                                    <th>
                                                    <select style="width:100%; border:none; font-weight:bold;" ng-options="role.name for role in noRoleUser track by role.value" ng-model="roleSearch">
                                                    <option value="">Role</option>
                                                    </select>
                                                    </th>
                                                    <th>Mobile No</th>
                                                    <th>Email Id</th>
                                                    <th>Status</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="user in listOfUser | filter:{ role:roleSearch.value} :true">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{user.user_name}}</td>
                                                    <td>{{user.role}}</td>
                                         			<td>{{user.mob_no}}</td>
                                                    <td>{{user.email}}</td>
                                                    <td ng-if="user.status==1">Enable</td>
                                                    <td ng-if="user.status==0">Disable</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>