<div class="row" style="padding-top:-15px;" >
<div class="col-md-12">
				<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Consolidated Time Table </h4>
								</div>
								<div class="portlet-widgets">
									<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" >
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Session :</span>
								 <select class="form-control" id="session_name" ng-model="session_name" ng-options="result.name for result in listSession track by result.value "  ng-change="checkTableData();">
		                    	 </select>
								</div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Section :</span>
								<select class="form-control" id="section_name" ng-model="section_name" ng-options="course.name for course in listSection track by course.value" ng-change="checkTableData();">
								 
                            	 </select>
								</div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Faculty :</span>
								 <select class="form-control" id="faculty_name" ng-model="faculty_name" ng-options="course.name for course in listFaculty track by course.value" ng-change="checkTableData();" >
                                 <option value="0" selected>NO</option>
                                 <option value="1" >YES</option>
					       		 </select>
								</div>  
                               
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Course :</span>
								 <select  class="form-control" id="course_name" ng-model="course_name" ng-options="course.name for course in listOfCourseName track by course.value" ng-change="selectedCourse();">	
								 </select>
								</div>
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Semester :</span>
								 <select class="form-control" id="semester" ng-model="semester" ng-options="result.name for result in noSemesters track by result.value " ng-change="selectedSemester();" >
								 </select>
								</div>
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Subject :</span>
								 <select class="form-control" id="subject_name" ng-model="subject_name" ng-options="result.name for result in listSubject track by result.value " >
								 </select>
								</div>
                                
                     </div>              
                    <div class="clearfix"></div>            
                    
                    <div class="col-md-12">
                     
                    <div class="table-responsive dashboard-demo-table">
					<table class="table table-bordered table-striped table-hover" id="dataTable">
					<colgroup>
                    <col class="col-md-1 col-sm-1">
                    <col class="col-md-2 col-sm-2">
                    <col class="col-md-2 col-sm-2">
                    <col class="col-md-5 col-sm-5">
                    <col class="col-md-2 col-sm-2">
                    </colgroup>
                    <thead>
					<tr align="center" style="text-weight: bold">
					<td align="center">Sl. No</td>
					<td align="center">Date</td>
                    <td align="center">Plan No</td>
                    <td align="center">Topic</td>
                    <td align="center">Remark</td>
                    </tr>
					</thead>
                    <tbody id="detailsstockid">
                    </tbody>
					</table>
                
                
                
                
								</div>
                    			</div>
                    
                     <div id="data_hide"> </div>
                     
                    
                    <div class="clearfix"></div>  
                    
                    
                      
                                
                                          <div class="clearfix"></div>      
                                          
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>
		</div>
            