<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Edit Department Profile </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:200px">Name :</span>
                                <input type="text" name="colgmname" id="du_name" class="form-control" placeholder="Add  Name" ng-model="uname" ng-keypress="clearField('du_name')" >
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:200px">Email Address :</span>
                                  <div ng-class="{ 'myError': billdata.email.$touched && billdata.email.$invalid }">
								<input type="email" name="email" id="du_email" class="form-control" placeholder="Add Email Address" ng-model="emailid" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" ng-keypress="clearField('du_email')" >
                                </div>
								</div>
								<div class="help-block" ng-messages="billdata.email.$error" ng-if="billdata.email.$touched">
                                <p ng-message="email" style="color:#F00;">This needs to be a valid email</p>
                                <p ng-message="pattern" style="color:#F00;">This field needs valid email format(e.g-abc@gmail.com).</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:200px">Mobile No :</span>
                                <div ng-class="{ 'myError': billdata.mobno.$touched && billdata.mobno.$invalid }">
								<input type="text" name="mobno" id="du_mob" class="form-control" placeholder="Add Mobile no" ng-model="mob_no" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]{10,10}$/" ng-keypress="clearField('du_mob')" >
                                </div>
								</div>
								<div class="help-block" ng-messages="billdata.mobno.$error" ng-if="billdata.mobno.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your mob no should be 10.</p>
                                <p ng-message="maxlength" style="color:#F00;">This field is too long.The max length of your mob no should be 10.</p>
                                 <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9) and also no decimal values are allowed.</p>
                                </div>
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Login Name :</span>
                                 <div ng-class="{ 'myError': billdata.uname.$touched && billdata.uname.$invalid }">
                                <input type="text" name="uname" class="form-control" ng-model="login_name"  placeholder="Login Name" ng-minlength="6" readonly="readonly"  >
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.uname.$error" ng-if="billdata.uname.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your user name should be 6.</p>
                                </div>
                                <input type="button" class="btn btn-green" ng-click="resetPasswod();"  value="Click here to reset Password" ng-show="hidebtn"  />
                                <div class="input-group bmargindiv1 col-md-12" ng-hide="showpass">
                                <span style="position:absolute; right:5px; margin-top:6px;top:0px;"><button class="btn btn-xs btn-success"ng-mousedown="hideShowPassword();" ng-mouseup="hideShowPassword();" ng-mouseleave="hidePassAfterLeave();" ><i class="fa fa-eye"></i></button></span>
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Password :</span>
                                 <div ng-class="{ 'myError': billdata.pass.$touched && billdata.pass.$invalid }">
                                <input type="{{inputType}}" name="pass" id="passno" class="form-control" placeholder="Add password" ng-model="password" ng-minlength="8" ng-pattern="/^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[_!@#\$%\^&\*])(?=.{8,})/" ng-keypress="clearField('passno')" >
                                </div>
								</div>
                                 <div class="col-md-12 text-right" style="padding-right:0px;" ng-show="rejectpass" ng-click="closePass();"><button type="button" class="btn btn-danger btn-sm">Cancel</button></div>
                                <div class="help-block" ng-messages="billdata.pass.$error" ng-if="billdata.pass.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your password should be 8.</p>
                                <p ng-message="pattern" style="color:#F00;">This field needs the special character like at least one number,upper case,lower case letter, and Special charcters(e.g: _,@,#,&,% ).</p>
                                 <!--<p class="caps-lock-alert" ng-show='isCapsLockOn' style="color:#F00;">Capslock is on</p>-->
                                </div>
                                </div>
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="updateProfileData(billdata);" ng-value="buttonName"  />
                            
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>
