
<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add User Role </h4>
								</div>
								<div class="portlet-widgets">
									<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">User Name :</span>
                                <select  class="form-control" ng-disabled="user_readonly"  ng-model="user_name"  ng-options="user.name for user in listOfName track by user.value" >
                                 <!--<option value="">Select course</option>-->
								 </select>
								</div> 
                                </div>
                                
                                
                                <div class="col-md-6">
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Login Name :</span>
								<input type="text" name="itemname" id="contactno" class="form-control" placeholder="add Login Name" ng-model="login_name" >
								</div>-->
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">User Role :</span>
								 <!--<select id="coy" name="coy" class="form-control" ng-model="user_role" >
								 <option value="">Select User Role</option>
                                 <option value="Lecture">Lecture</option>
                                 <option value="Lab Assistance">Lab Assistance</option>
                                 <option value="Professor ">Professor</option>
                                 <option value="Ast.Professor ">Ast.Professor</option>
								 </select>-->
                                 <select id="coy" name="coy" class="form-control" ng-model="user_role"  ng-options="role.name for role in listOfRole track by role.value" >
                                 <!--<option value="">Select course</option>-->
								 </select>
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addHomeUserRoleData();"  id="addProfileData" ng-value="buttonName"  />
                            <input type="button" class="btn btn-danger" ng-click="clearSubjectData();" ng-value="clearButtonName" ng-show="showCancel"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

<div class="clearfix"></div>
<!--<div class="alert alert-block alert-error notification fade in" data-ng-show="displayLocationDeletePopup">
    <h6>Are you sure you want to delete this location?</h6>
    <div class="form-controls-alert">
        <a href="" class="btn" data-ng-click="showDeleteLocationPopup(false)">No</a>
        <a href="" class="btn btn-danger" data-ng-click="deleteVendorLocation(locationId)">Yes</a>
    </div>
</div> end alert-->

<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-4 col-sm-4">

                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>User Name</th>
                                                    <th>User Role</th>
                                                    <th>Edit </th>
                                                    <th> Delete </th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="role in userHomeRoleValue | orderBy:'user_name'">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{role.user_name}}</td>
                                                    <td ng-if="role.role_id==1">Princpal</td>
                                                    <td ng-if="role.role_id==2">HOD</td>
                                                    <td ng-if="role.role_id==3">Professor</td>
                                                    <td ng-if="role.role_id==4">Asst. Professor</td>
                                                    <td ng-if="role.role_id==5">Lecturer</td>
                                                    <td ng-if="role.role_id==6">Lab Assistant</td>
                                         			<td>
													<a ui-sref='home.role'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editHomeUserRoleData(role.user_id)">  
													</a>
                                                    </td>
                                                    <td>
                                                    <a ui-sref='home.role'>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteHomeRoleData(role.user_id);"  >
													</a>
													</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>