<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i>Add/update Subject </h4>
								</div>
								<div class="portlet-widgets">
									<!--<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>-->
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Course name :</span>
                                <select class="form-control" id="coursename" ng-model="courseName"  ng-options="sub.name for sub in noCourse track by sub.value" ng-change="selectSemester('coursename',courseName);"  ng-readonly="readcors" ng-disabled="corsdis">
                                 <!--<option value="">Select course</option>-->
								 </select>
								</div> 
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Semester :</span>
								 <select class="form-control" id="sem" ng-model="semester" ng-options="result.name for result in noSemesters track by result.value " ng-change="selectSubjectType('sem',semester);" ng-readonly="readsem" ng-disabled="semdis">
								<!-- <option value="">Select Semester</option> -->
								 </select>
                                 
								</div>
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Subject Type :</span>
								<select class="form-control" id="sub_type" ng-model="subtype" ng-options="sub.name for sub in noSubjectType track by sub.value " ng-change="selectSubjectType('sub_type',subtype);" ng-readonly="readsub" ng-disabled="subdis" >
								 </select>
								</div>
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Subject Name :</span>
                                <input type="text" name="itemname" id="subname" class="form-control" placeholder="Add subject name" ng-model="subjectname" ng-keypress="removeBorder('subname')" >
								</div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Subject Code :</span>
                                <input type="text" name="itemname" id="subcode" class="form-control" placeholder="Add subject code" ng-model="subject_code" ng-keypress="removeBorder('subcode')" >
								</div> 
                                <div class="input-group bmargindiv1 col-md-12" ng-show="showVenue">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Select Venue:</span>
								 <select id="coy" name="coy" class="form-control" ng-model="sub_venue" ng-options="result.name for result in noVenue track by result.value " >
								 </select>
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addSubjectData();" ng-value="buttonName"  />
                            <input type="button" class="btn btn-danger" ng-click="clearSubjectData();" ng-value="clearButtonName" ng-show="showCancel"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

<div class="clearfix"></div>

<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											<div class="portlet-heading">
		<div class="portlet-title" id="SHOWINFO">
		<h4><i class="fa fa-list fa-fw"></i> List of Subjects </h4>
		</div>
		<div class="clearfix"></div>
		</div>
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
													<th>
                                                    <select style="width:100%; border:none; font-weight:bold;" ng-options="sub.name for sub in noCourseTable track by sub.value" ng-model="search">
                                                   <option value="">Course Name</option>
                                                    </select>
                                                    </th>
                                                    <th>Semester</th>
                                                    <th>Subject Name</th>
                                                    <th>Subject code</th>
                                                    <th>Subject Type</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="sub in subjectData | filter:{course_name:search.name}:true | orderBy:'subject_name'" >
                                                    <td>{{$index+1}}</td>
													<td>{{sub.course_name}}</td>
													<td>{{sub.semester_name}}</td>
                                                    <td>{{sub.subject_name}}</td>
                                                    <td>{{sub.short_name}}</td>
                                                    <td >{{sub.type}}</td>
                                         			<td>
													<a ui-sref='home.subject'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editSubjectData(sub.subject_id);">  
													</a>
													</td>
                                                    <td>
                                                    <a ui-sref='home.subject'>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteSubjectData(sub.subject_id);">  
													</a>
                                                    </td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>