<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add User Management </h4>
								</div>
								<div class="portlet-widgets">
									<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data" novalidate>
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">First Name :</span>
                                <input type="text" name="itemname" id="contactno" class="form-control" placeholder="first Name" ng-model="first_name" >
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Last Name :</span>
                                <input type="text" name="itemname" id="contactno" class="form-control" placeholder="last Name" ng-model="last_name" >
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Email Id :</span>
                                <div ng-class="{ 'has-error': billdata.email.$touched && billdata.email.$invalid }">
								<input type="email" name="email" id="contactno" class="form-control" placeholder="User email" ng-model="user_email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" >
                                </div>
								</div>
								<div class="help-block" ng-messages="billdata.email.$error" ng-if="billdata.email.$touched">
                                <p ng-message="email" style="color:#F00;">This needs to be a valid email</p>
                                <p ng-message="pattern" style="color:#F00;">This field needs valid email format(e.g-abc@gmail.com).</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Mobile No :</span>
                                 <div ng-class="{ 'has-error': billdata.mobno.$touched && billdata.mobno.$invalid }">
								<input type="text" name="mobno" id="contactno" class="form-control" placeholder="Mobile No" ng-model="mob_no" ng-minlength="10" ng-maxlength="10" ng-pattern="/^[0-9]{10,10}$/" >
                                </div>
								</div>
								<div class="help-block" ng-messages="billdata.mobno.$error" ng-if="billdata.mobno.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your mob no should be 10.</p>
                                <p ng-message="maxlength" style="color:#F00;">This field is too long.The max length of your mob no should be 10.</p>
                                 <p ng-message="pattern" style="color:#F00;">This field needs only number(e.g-0,1..9) and also no decimal values are allowed.</p>
                                </div>
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">User Name :</span>
                                 <div ng-class="{ 'has-error': billdata.uname.$touched && billdata.uname.$invalid }">
								<input type="text" name="uname" id="contactno" class="form-control" placeholder="add User Name" ng-model="login_name" ng-minlength="6" >
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.uname.$error" ng-if="billdata.uname.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your password should be 6.</p>
                                </div>
                                <div class="input-group bmargindiv1 col-md-12">
                                <span style="position:absolute; right:5px; margin-top:6px;top:0px;"><button class="btn btn-xs btn-success" ng-mousedown="hideShowPassword();" ng-mouseup="hideShowPassword();" ng-mouseleave="hidePassAfterLeave();" ><i class="fa fa-eye"></i></button></span>
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Password :</span>
                                 <div ng-class="{ 'has-error': billdata.pass.$touched && billdata.pass.$invalid }">
                                <input type="{{inputType}}" name="pass" id="contactno" class="form-control" placeholder="password" ng-model="password" ng-minlength="8" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z]).*_.*/" >
                                </div>
								</div>
                                <div class="help-block" ng-messages="billdata.pass.$error" ng-if="billdata.pass.$touched">
                                <p ng-message="minlength" style="color:#F00;">This field is too short.The min length of your password should be 8.</p>
                                <p ng-message="pattern" style="color:#F00;">This field needs the special character like at least one number,upper case,lower case letter and underscore.</p>
                                 <p class="caps-lock-alert" ng-show='isCapsLockOn' style="color:#F00;">Capslock is on</p>
                                </div>
                                <!--<div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Show me Password :<input type="checkbox" ng-model="checkboxModel" ng-click="showHidePassword(checkboxModel)" /></span>
                               <input type="text" name="itemname" id="contactno" class="form-control" placeholder="password" ng-model="showPassword" readonly="readonly">
								</div>-->
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">User Status :</span>
								 <select id="coy" name="coy" class="form-control" ng-model="user_status" >
								 <option value="">Select Status</option>
                                 <option value="1">Enable</option>
                                 <option value="0">Disable</option>
								 </select>
								</div>
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addHomeUserData(billdata);"  id="addProfileData" ng-value="buttonName"  />
                            <input type="button" class="btn btn-danger" ng-click="clearSubjectData();" ng-value="clearButtonName" ng-show="showCancel"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>

<div class="clearfix"></div>

<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">

                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
                                                    <th>Name</th>
                                                    <th>User Email</th>
                                                    <th>Mobile No</th>
                                                    <th>Login Name</th>
                                                    <th>Status</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="user in objHomeUserData">
                                                    <td>{{$index+1}}</td>
                                                    <td>{{user.user_name}}</td>
													<td>{{user.email}}</td>
													<td>{{user.mob_no}}</td>
                                                    <td>{{user.login_name}}</td>
                                                    <td ng-if="user.user_status==1">Enable</td>
                                                    <td ng-if="user.user_status==0">Disable</td>
                                         			<td>
													<a ui-sref='home.usermanagement'>
													<input type='button' class='btn btn-xs btn-green' value='Edit' ng-click="editHomeUserData(user.user_id);" >  
													</a>
                                                    </td>
                                                    <td>
                                                    <a ui-sref='home.usermanagement'>
													<input type='button' class='btn btn-xs btn-red' value='Delete' ng-click="deleteHomeUserData(user.user_id,user.login_name);" >  
													</a>
													</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>