<div class="col-md-12">
{{message}}
				<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Consolidated Time Table </h4>
								</div>
								<div class="portlet-widgets">
									<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata" method="post" enctype="multipart/form-data" onSubmit="return masterValidation();">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                               
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Department :</span>
								 <select id="coy" name="coy" class="form-control" >
								 <option value="">Select Department</option>
								 <option value="A">Computer Science & Engineering</option>
                                 <option value="A">Electrical Engineering</option>
                                 <option value="A">Mechanical Engineering</option>
                                 <option value="A">Civil Engineering</option>
										
								 </select>
								</div>
                                
                                
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Venue :</span>
								 <select id="coy" name="coy" class="form-control" >
								 <option value="">Select Venue</option>
								 <option value="A">CRC 201</option>
								 <option value="B">CRC 202</option>
                                 <option value="C">CRC 203</option>
                                 <option value="D">CRC 204</option>
                           		 </select>
								</div>  
                               
                                
                                </div>
                                
                                
                                <div class="col-md-6">
                                
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Semester :</span>
								 <select id="coy" name="coy" class="form-control" >
								 <option value="">Select Semester</option>
								 <option value="A">I</option>
								 <option value="B">II</option>
                                 <option value="C">III</option>
                                 <option value="D">IV</option>
                                 <option value="E">V</option>
                                 <option value="F">VI</option>
                                 <option value="G">VII</option>
                                 <option value="H">VIII</option>		
								 </select>
								</div>
                                
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Section :</span>
								<select id="coy" name="coy" class="form-control" >
								 <option value="">Select Section</option>
								 <option value="A">Section A</option>
								 <option value="B">Section B</option>
                            	 </select>
								</div>
                                
                                
                              
                                
                                </div>
                                
                                
                                
                    <div class="clearfix"></div>            

                    
                      <div class="col-md-6">
                                
                               
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Approved By HOD :</span>
								 <input type="text" name="itemusp" id="itemusp" readonly class="form-control" placeholder="" maxlength="16" value="Pending...">
								</div>
                        </div>
                                
                        <div class="col-md-6">         
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Approved By Principal :</span>
								 <input type="text" name="itemusp" id="itemusp" readonly class="form-control" placeholder="" maxlength="16" value="Pending...">
								</div>  
                               
                                
                                </div>
                                
                                          <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>