<div class="col-md-12">
<div class="row">
					<div class="col-lg-12">
						<div class="portlet portlet-green">
							<div class="portlet-heading">
								<div class="portlet-title" id="SHOWINFO">
									<h4><i class="fa fa-exchange fa-fw"></i> Add Subject </h4>
								</div>
								<div class="portlet-widgets">
									<a data-toggle="collapse" data-parent="#accordion" href="#transactionsPortlet"><i class="fa fa-chevron-down"></i></a>
								</div>
								<div class="clearfix"></div>
							</div>
					<form name="billdata" id="billdata"  enctype="multipart/form-data">
					
                    
                  	<div id="SHOWDATA">
					<div id="transactionsPortlet" class="panel-collapse collapse in">
					<div class="portlet-body">
					<div class="totalaligndiv">
                    
                    
                    <div class="col-md-6">
                                
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Course name :</span>
                                <select id="coy" name="coy" class="form-control" ng-model="courseName" ng-change="selectedCourse();" ng-options="sub.name for sub in noCourse track by sub.value" >
                                 <!--<option value="">Select course</option>-->
								 </select>
								</div> 
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Semester :</span>
								 <select id="coy" name="coy" class="form-control" ng-model="semester" ng-options="result.name for result in noSemesters track by result.value " >
								 <option value="">Select Semester</option>
								 </select>
								</div>
                                </div>
                                
                                
                                <div class="col-md-6">
                                <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Subject Name :</span>
                                <input type="text" name="itemname" id="coursemname" class="form-control" placeholder="Add subject name" ng-model="subjectname" >
								</div>
                                 <div class="input-group bmargindiv1 col-md-12">
                                <span class="input-group-addon ndrftextwidth text-right" style="width:180px">Short name :</span>
                                <input type="text" name="itemname" id="shortmname" class="form-control" placeholder="Add short name" ng-model="subject_short_name" >
								</div> 
                                </div>
                                
                               
                    <div class="clearfix"></div>    
                			<div style="text-align:center; padding-top:10px;">
                            <input type="button" class="btn btn-success" ng-click="addSubjectData();" ng-value="buttonName" id="addsubjectData"  />
                   <!-- <button class="btn btn-success" type="button" ng-click="addCourseData();">Submit</button>-->
                </div>

           <div class="clearfix"></div>           
                    
                    </div>
                    </div>
                    </div>
                    </div>	
                        	
					</form>
						</div>
					</div>
					<!-- /.col-lg-12 -->

				</div>
			</div>


<div class="clearfix"></div>


<div class="col-lg-12">
										<div class="portlet portlet-blue" style="margin-bottom:12px;">
											
                                                <div class="portlet-body">
									<div class="table-responsive dashboard-demo-table">
										<table class="table table-bordered table-striped table-hover" id="dataTable" >
											<colgroup>
                                             <col class="col-md-1 col-sm-1">
                                             <col class="col-md-2 col-sm-2">

                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-2 col-sm-2">
                                             <col class="col-md-1 col-sm-1">
                                             </colgroup>
                                            <thead>
												<tr>
													<th>Sl. No</th>
													<th>
                                                    <select style="width:100%; border:none; font-weight:bold;" ng-options="sub.name for sub in noCourse track by sub.value" ng-model="search" ng-change="selectedCourseTable();" >
                                                   <!-- <option value="">Course Name</option>-->
                                                    </select>
                                                    </th>
                                                    <th>
                                                    <select style="width:100%; border:none; font-weight:bold;" ng-options="sem.name for sem in noSemestersTable track by sem.value" ng-model="semesterSearch">
                                                    <option value="">Semester</option>
                                                    </select>
                                                    </th>
                                                    <th>Subject Name</th>
                                                    <th>Short Name</th>
                                                    <th>Edit</th>
                                         		</tr>
											</thead>
                                            
											<tbody id="detailsstockid">
                                               		<tr ng-repeat="sub in subjectData | filter:{course_name:search.value, semester:semesterSearch.value}" >
													<td>{{ $index+1 }}</td>
													<td>{{sub.course_name}}</td>
                                                    <td>{{sub.semester}}</td>
                                                    <td>{{sub.subject_name}}</td>
                                                    <td >{{sub.short_name}}</td>
                                         			<td>
													<a href='#subject?s_i={{sub.subject_id}}'>
													<input type='button' class='btn btn-xs btn-green' value='Edit'>  
													</a>
													</td>
													</tr>	
											</tbody>
										</table>
								</div>
								</div>
                				<div class="clearfix"></div>
                				</div>
								</div>